.skills-section {
  padding: 1rem 9%;
  background-color: #000000;
  color: white;
}

.skills-heading {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  text-align: center;
  color: #da0c1df0;
}

.skills-container {
  display: inline;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: auto;
  gap: 3rem;
}

.skills-category {
  background-color: #222;
  margin-bottom: 1.5rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.skills-subheading {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: #da0c1df0;
  border-bottom: 2px solid #da0c1df0;
  padding-bottom: 0.5rem;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 1.5rem;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
  gap: 0.5rem;
}

.skill-item:hover {
  transform: translateY(-5px);
}

.skill-icon {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.soft-skills-list, .language-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.soft-skill-item, .language-item {
  background-color: #333;
  padding: 0.8rem 1.2rem;
  border-radius: 20px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.soft-skill-icon, .language-icon {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .skills-section {
    padding: 1rem 5%;
  }
  
  .skills-heading {
    font-size: 2rem;
  }
  
  .skills-container {
    grid-template-columns: 1fr;
  }
  
  .skill-icon {
    font-size: 2.5rem;
  }
}